.main-wrapper{
	width:100%;
	height:100%;
	padding-top: 20px;
	background:#ececec;
   .header-wrapper{
   		display:flex;
   		justify-content:space-between;
   		align-items:center;
   		.left-header-wrapper{
   			margin-left:20px;
   			.text-bold{
   				font-weight:700;
   			}
   		}
   		.right-header-wrapper{
   			margin-right:20px;
   			.button-wrapper{
   				background:orange;
   				padding: 10px;
   				border-radius:10px;
   			}
   		}
   }
   .body-wrapper{
   		
   		.first-row{
   			display: flex;
	        flex-wrap: wrap;
	        flex-direction: row;
	        justify-content:space-around;
   			.One{
   				margin :20px;
   				background: white;
   				border-radius: 5px;
   				position:relative;
   				.image{
   					.date{
	   					position: absolute;
					    font-weight: 500;
					    font-size: 11px;
					    top: 6%;
					    right: 5%;
					    color: black;
					    background: white;
					    border-radius: 5px;
					   	padding:1px 8px 1px 8px
   					}
   				}
   				.description{
   					text-align:center;
   					.from{
   						color:green;
   						font-size: 12px;
   						font-weight: bold;
   						
   					}
   					.name{
   						font-weight:1000;
   						margin-top:4px;
   						font-size: 18px;
   					}
   					.name2{
   						color:grey;
   						margin-top:10px;
   					}
   					.lower-buttons{
   						margin-top:12px;
   						display:flex;
   						margin-left:20px;
   						margin-bottom: 20px;
   						.button1{
   							color:white;
   							border:2px solid #08285f;
   							margin:3px;
   							border-radius: 4px;
   							color: #08285f;
   							padding: 8px 5px 8px 5px;
   						}
   						.button2{
   							background-color:#08285f;
   							border:2px solid #08285f;
   							margin:3px;
   							border-radius: 4px;
   							color: white;
   							padding: 8px 5px 8px 5px;
   						}
   					}
   				}
   			}
   		}
   

   }
   
}